<div class="controls-container w-100 d-flex flex-row justify-content-center">
    <app-round-tranparent-icon-button
      type="toggle"
      [activeIcon]="micOffIcon"
      [inactiveIcon]="micIcon"
      (onClick)="onMicMute($event)"
    ></app-round-tranparent-icon-button>
    <app-round-tranparent-icon-button
      class="mr-3 ml-3"
      type="normal"
      [inactiveIcon]="hangUpIcon"
      [inactiveIconStyle]="{
        stroke: 'red',
        color: 'red'
      }"
    ></app-round-tranparent-icon-button>
    <app-round-tranparent-icon-button
      type="toggle"
      [activeIcon]="camOffIcon"
      [inactiveIcon]="camIcon"
      (onClick)="onCameraMute($event)"
    ></app-round-tranparent-icon-button>
  </div>
