<div class="page">
  <div class="container">
    <div class="preview-container">
      <div class="webcam-container">
        <h1 class="off-text" *ngIf="!showCamera">Camera is off</h1>
        <!-- <webcam [mirrorImage]="'always'" *ngIf="showCamera"></webcam> -->
        <div class="webcam-overlay"></div>
        <div class="controls-container">
          <app-round-tranparent-icon-button
            class="button"
            type="toggle"
            [activeIcon]="micMutedIcon"
            [inactiveIcon]="micIcon"
          >
          </app-round-tranparent-icon-button>
          <app-round-tranparent-icon-button
            class="button"
            type="toggle"
            [activeIcon]="camOffIcon"
            [inactiveIcon]="camIcon"
            (clicked)="onCameraChange($event)"
          >
          </app-round-tranparent-icon-button>
        </div>
      </div>
    </div>
  </div>
</div>
