<button class="btn btn-primary" (click)="startVideoCall()"> Start Video Call</button>
<button class="btn btn-primary" (click)="stopVideoCall()"> Stop Video Call</button>
<button class="btn btn-primary" (click)="joinVideoChannel()"> Join Video Channel </button>
<button class="btn btn-primary" (click)="leaveVideoChannel()"> Leave Video Channel</button>

<div id="local-player"> </div>
<div id="remote-playerlist"> </div>


<div class="row justify-content-center">
    <div class="col-md-4">
        <app-camera-preview></app-camera-preview>
    </div>
</div>