.sound-meter{
    position: absolute;
    bottom: 30px;
    left: 30px;
   
}

.camera-container{
    position: relative;
}

.camera{
    border-radius: 10px;
    height: 400px;
    width: 531px;
}

.camera-off{
    text-align: center;
    height: 400px;
    width: 531px;
    border-radius: 10px;
    background-color: black;
    color: white;
    -webkit-linear-gradient:(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}