<div class="view-container" (mouseover)="showControls(true)" (mouseleave)="showControls(false)">
    <div [appAgoraVideoPlayer]="mediaTrack" [audioTrack]="audioTrack" [videoTrack]="videoTrack" class="video">
    </div>
    <div class="control-container d-flex flex-row justify-content-center align-items-center" *ngIf="isRemote()">
        <app-meeting-participant-controls 
        [show]="controlsVisible"
        (camOff)="onCamOff()"
        (micMute)="onMicMute()"
        (pin)="onPin()"
        (cick)="onCick()">
        </app-meeting-participant-controls>
    </div>
</div>
